$white: #fff !default;
$white-smoke: #f5f5f5 !default;
$body-bg: #fff;
$body-color: #0d0d0d;
$black-transparent-95: rgba(0, 0, 0, 0.95) !default;
$dark-gray-transparent-65: rgba(14, 14, 36, 0.95) !default;
$black-transparent-18: rgba(0, 0, 0, 0.18) !default;
$black-transparent-30: rgba(0, 0, 0, 0.3) !default;
$black: #000 !default;
$gray-dark-95: #0d0d0d !default;
$gray-dark-87: #212121 !default;
$gray-dark-85: #262626 !default;
$gray-dark-84: #292929 !default;
$gray-dark-83: #2c2c2c !default;
$gray-dark-80: #333333 !default;
$gray-mid-74: #434343 !default;
$gray-mid-70: #4d4d4d !default;
$gray-mid-66: #575757 !default;
$gray-mid-60: #515151 !default;
$gray-mid-51: #666666 !default;
$gray-pale-30: #b2b2b2 !default;
$gray-pale-14: #dbdbdb !default;
$gray-pale-5: #f2f2f2 !default;
// $cornflowerblue: #6495ED !default;
$aliceblue: #f1f5fd !default;
$aliceblue-12: #dfe9fb !default;
$aliceblue-28: #cdddf9 !default;
$aliceblue-32: #bcd1f7 !default;
$aliceblue-48: #aac5f5 !default;
$aliceblue-56: #99b9f3 !default;
$aliceblue-60: #87adf1 !default;
$aliceblue-66: #76a1ef !default;
$cornflowerblue: #6495ed !default;
$aliceblue-72: #5289eb !default;
$aliceblue-76: #417de9 !default;
$aliceblue-80: #2f71e7 !default;
$aliceblue-84: #1e65e5 !default;
