::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray-dark-85;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $gray-mid-60;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-mid-60;
}
