@import "../../../../../../assets/styles/base/colours";
@import "../../../../../../assets/styles/base/base-mixins";

.conv-type {
  @include no-select;
  letter-spacing: 0.5px;
  padding: 5px 9px 5px 9px;
  background-color: $aliceblue-28;
  border-radius: 4px;
  margin-top: 9px;
  color: $gray-mid-51;
  width: 52px;
  font-size: small;

  &:hover {
    @include box-shadow;
    color: $cornflowerblue;
  }

  span {
    float: right;
    &::after {
      content: "\203A";
    }
  }
}

.conv-box {
  width: 100%;
  height: 100%;
  min-height: 540px;
  // background-color: $gray-pale-5;
  color: $gray-dark-80;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  padding: 5px;

  .conv-item {
    @include no-select;

    border: 1px solid $aliceblue-28;
    background-color: $gray-pale-5;
    border-radius: 4px;
    margin: 7px;
    padding-left: 5px;
    min-height: 60px;

    .edit-button-container {
      position: absolute;
      right: 9%;
    }

    span {
      float: right;
      cursor: pointer;
      font-size: 18px;
      line-height: 28px;

      &:hover {
        color: $cornflowerblue;
      }
    }
    .item-abbr-td {
      border-right: 1px solid #ccc;
      padding-right: 5px;
      width: 15%;
      vertical-align: middle;
    }
    .item-abbr {
      // @include box-shadow;
      // font-weight: bold;
      padding: 5px;
      // background-color: $aliceblue-28;
      width: 32px;
      height: 32px;
      // margin: 0 auto;
      border-radius: 4px;
    }

    .item-text {
      font-size: small;
      margin-top: 5px;
    }

    .option-button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 3px;
      margin-top: 5px;
    }

    .option-button {
      margin-right: 5px;
      letter-spacing: 1px;
      // box-shadow: 1px 3px 9px 0px #888888;
      color: #ffffff;
      font-family: Arial;
      // background-color: $cornflowerblue;
      padding: 3px 7px;
      font-size: 13px;
      text-decoration: none;
      border-radius: 4px;
      display: inline-flex;
      width: max-content;
      // text-shadow: 0px 1px 0px #888888;

      div {
        font-size: small;
      }
    }

    .linked-question {
      font-size: small;
      margin: 5px;
      border: 1px solid $gray-pale-30;
      width: fit-content;
      padding: 3px;
    }

    .multi-btn { 
      margin: 7px;
      letter-spacing: 1px;
      background-color: transparent;
      padding: 3px 7px;
      text-decoration: none;
      user-select: none;
      border-radius: 4px;
      display: inline-flex;
      font-size: small;
      width: max-content;
    }
  }
}
