<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-sm-12 conv-type" *ngFor="let type of convTypes" title="{{type.desc}}">
                {{type.abbr}} - {{type.name}} <span></span>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="conv-box">
            <div class="conv-item" *ngFor="let item of conv">
                <span class="bi bi-gear-wide-connected btn-round" title="Edit" (click)="editConvItem(item)"></span>
                <div *ngIf="item.type == 'option'">
                    <table style="width:84%">
                        <tr>
                            <td rowspan="2" style="border-right: 1px solid #CCC; padding-right: 5px;">{{item.id}}<div class="btn-round item-abbr" title="options">O</div></td>
                            <td class="text-center">{{item.text}}</td>
                        </tr>
                        <tr>
                            <td><div class="option-button" *ngFor="let option of item.options">{{option.text}}</div></td>
                        </tr>
                    </table>
                    <!-- <div class="btn-round item-abbr" title="options">O</div>
                    <div class="item-text">{{item.text}}</div>
                    <div class="option-button" *ngFor="let option of item.options">{{option.text}}</div> -->
                </div>
                <div *ngIf="item.type == 'text' && item.responseValidation == null">
                    <table>
                        <tr>
                            <td rowspan="2" style="border-right: 1px solid #CCC; padding-right: 5px;">{{item.id}}<div class="btn-round item-abbr" title="options">T</div></td>
                            <td class="text-center">{{item.text}}</td>
                        </tr>
                    </table>
                    <!-- <div class="btn-round item-abbr" title="options">T</div>
                    <div class="item-text">{{item.text}}</div> -->
                </div>
                <div *ngIf="item.type == 'text' && item.responseValidation == 'email'">
                    <div class="btn-round item-abbr" title="options">E</div>
                    <div class="item-text">{{item.text}}</div>
                </div>
                <div *ngIf="item.type == 'text' && item.responseValidation == 'number'">
                    <div class="btn-round item-abbr" title="options">N</div>
                    <div class="item-text">{{item.text}}</div>
                </div>
                <div *ngIf="item.type == 'multi'">
                    <div class="btn-round item-abbr" title="options">C</div>
                    <div class="item-text">{{item.text}}</div>
                    <div class="option-button" *ngFor="let option of item.options">{{option.text}}</div>
                </div>
                <div *ngIf="item.type == 'rating'">
                    <div class="btn-round item-abbr" title="options">R</div>
                    <div class="item-text">{{item.text}}</div>
                    <div class="option-button" *ngFor="let option of item.options">{{option}}</div>
                </div>
            </div>
        </div>
    </div>
</div>