@import "../../../../../../../assets/styles/base/colours";

.page {
  width: 98%;
  height: calc(100vh - 120px);
  background-color: $gray-pale-5;
}

.bot-icon {
  position: fixed;
  right: 85px;
  z-index: 214748000;
  bottom: 28px;
  user-select: none;
}

.start-icon-text {
  width: 69%;
}

#start-button-container {
  position: fixed;
  right: 23px;
  z-index: 214748000;
  bottom: 72px;
  user-select: none;
}

#start-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px !important;
  font-weight: 400;
  position: relative;
  z-index: 214748000;
  cursor: pointer;
  background-color: #fff;
  color: #666;
  padding: 3px 8px;
  line-height: 1.5;
  border-radius: 0.625rem !important;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
  max-width: 149px;
  max-height: 60px;
  margin-left: -112px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
  animation: launcher-frame-appear 0.25s ease forwards;
  // bottom: -42px;
  left: -45px;
}

#start-button {
  width: 42px;
  height: 42px;
  background-color: #599bb3;
  border-radius: 7px !important;
  margin: -3px;
  cursor: pointer;
  box-shadow: 0px 0px 21px 0px #276873;
}
