<div class="container">
  <div class="page">
    <div class="col-md-12">
      <app-talkbox [bot]="bot"></app-talkbox>
      <div class="bot-icon">
        @if (bot.startUpParams?.startIconShadow?.required) {
          <div
            [style.height.px]="bot.startUpParams?.startIconSize?.height"
            [style.width.px]="bot.startUpParams?.startIconSize?.width"
            [style.backgroundColor]="bot.startUpParams?.startIconBackground"
            [style.borderRadius]="startButtonBorder"
            [style.boxShadow]="bot.startUpParams?.startIconShadow?.style" style="margin: 0 auto">
            @if (startText.length > 0) {
              <div id="start-button-text"><span>{{startText}}</span></div>
            }
          </div>
        }
        @if (!bot.startUpParams?.startIconShadow?.required) {
          <div
            [style.height.px]="bot.startUpParams?.startIconSize?.height"
            [style.width.px]="bot.startUpParams?.startIconSize?.width"
            [style.backgroundColor]="bot.startUpParams?.startIconBackground"
            [style.borderRadius]="startButtonBorder" style="margin: 0 auto">
            @if (startText.length > 0) {
              <div id="start-button-text"><span>{{startText}}</span></div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>