.col-margin {
  margin-top: 9px;
  padding-left: 101px;
}

.color-margin {
  padding-left: 19px;
  margin: 0;

  input {
    width: 32px;
    cursor: default;
  }
}
.feature-label {
  font-size: small;
}
