<div class="row">
    <div class="col-sm-4 color-margin  text-center">
        <input [cpPosition]="'bottom-right'" [style.background-color]="bot?.talkBoxParams?.headerColor"
            [colorPicker]="headerColor" (colorPickerChange)="onCPIconColor($event)" [style.color]="'#FFF'" readonly />
        <div class="feature-label">Color</div>
    </div>
    <div class="col-sm-8">
        <input type="text" [(ngModel)]="headerText" (ngModelChange)=updateHeaderText($event) maxlength="30"/>
        <div class="feature-label">Text</div>
    </div>
</div>