<div class="row">
  <div class="col-md-8 ui-section-header">Referrers</div>
</div>
<div class="row">
  <div class="col-md-8">
    Referrers allow you to make your bot(s) more secure. <br>By configuring refererrs, you can define the web
    pages/sites on which your bot will work.<br> Leaving this blank will result in your bot being freely available on any web page.
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table>
      @for (referrer of _referrers; track trackByFn(i, referrer); let i = $index) {
        <tr>
          <td style="width: 75%;">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="{{i}}" maxlength="32" [(ngModel)]="_referrers[i]" [attr.title]="reffererErrTitle" autocomplete="off"
                  (keyup)="checkReferrer($event)"
                  [ngStyle]="{'border': referrer.length < 3 || referrer.indexOf('.') == -1 ? '1px solid #BB0034': ''}" />
                </div>
              </div>
            </td>
            <td style="width: 25%;">
              @if (i+1 < _referrers.length && i > 0) {
                <div class="btn-group" role="group">
                  <div class="btn-round" (click)="removeReferrer(i)">
                    <i class="bi bi-dash-circle"></i>
                  </div>
                </div>
              }
              @if (i+1 == _referrers.length) {
                <div class="btn-group" role="group">
                  @if (i > 0) {
                    <div class="btn-round" (click)="removeReferrer(i)">
                      <i class="bi bi-dash-circle"></i>
                    </div>
                  }
                  <div class="btn-round" (click)="addReferrer(i)">
                    <i class="bi bi-plus-circle"></i>
                  </div>
                </div>
              }
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
  <div class="row" style="margin-top:2em">
    <div class="col-md-6 pull-right">
      <button class="btn btn-info" (click)="saveReferrers()" [disabled]="saveDisabled">save</button>
    </div>
  </div>
  <div class="row" style="margin-top:2em">
    <div class="col-md-12">
      The changes you make on this page will be available only after you publish your bot.
    </div>
  </div>