<div class="name-panel">
  <!-- <input type="text" [(ngModel)]="bot.name" maxlength="12" required [ngClass]="{'name-empty-error':bot.name?.length == 0}" /> -->
  @if (component?.name === 'design' || component?.name === 'conversation' || component?.name === 'settings' || component?.name === 'details') {
    <span (click)=save() class="btn btn-info" style="float: right;" >publish</span>
  }
</div>
@if (component === undefined) {
  <div class="details-container">
    BLANK
  </div>
}
@if (component?.name === 'details') {
  <div class="details-container">
    <app-bot-general [bot]="bot"></app-bot-general>
  </div>
}
@if (component?.name === 'design') {
  <div class="details-container">
    <app-bot-ui-design [bot]="bot"></app-bot-ui-design>
  </div>
}
@if (component?.name === 'conversation') {
  <div class="details-container">
    <app-bot-conv [bot]="bot"></app-bot-conv>
  </div>
}
@if (component?.name === 'share') {
  <div class="details-container">
    SHARE
  </div>
}
@if (component?.name === 'settings') {
  <div class="details-container">
    <app-bot-settings [bot]="bot" ></app-bot-settings>
  </div>
}
@if (component?.name === 'help') {
  <div class="details-container">
    HELP
  </div>
}
@if ((bot && component) && (component?.name === 'design' || component?.name === 'conversation')) {
  <div class="preview">
    <app-bot-preview [bot]="bot"></app-bot-preview>
  </div>
}